.tiles-out {
  overflow-y: auto;
  height: 80px;
}

.player__hand {
    margin: 0px;
    padding-left: 15px;
}

ul > li.player__tile {
    list-style: none;
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

.player__tile > img {
  width: 40px;
  height: 60px;
  vertical-align: middle;
}

.grouping, .grouping__figure {
    margin: 0px;
    padding-left: 15px;
    display: inline-block;
}

.grouping__figure .player__tile > img {
  width: 32px;
  height: 48px;
}

.hand__tile-image {
  width: 40px;
  height: 60px;
}

.hand__tile-image:hover {
    filter: brightness(1.1)
}

.hand__tile-image--unselected {
    filter: brightness(1);
    border-style: none;
}

.hand__tile-image--selected {
    border-color: blue;
    border-width: 2 px;
    border-style: solid;
}

.moves__container {
    overflow-y: auto;
    height: 120px;
    width: 100%;
    border-style: solid;
    border-color: darkgrey;
    padding: 20px;
    min-width: 300px;
}

ul.moves__container > li {
  margin-left: 20px;
}

.moves__entry--whoa::marker {
  content: '\01F6D1';
}

.moves__entry--mine::marker {
  content: '\01F449';
}

.moves__entry--win::marker {
  content: '\01F3C5'
}

.moves__entry--win-wow::marker {
  content: '\01F3C6';
}

.moves__actions-container {
    display: inline-block;
    vertical-align: top;
    width: 60%;
}

button.moves__action {
    width: fit-content;
    margin-right: 4px;
    margin-bottom: 4px;
}

.rules {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* align the heights of the player section and tiles out in 2-column layout */
  .player__section {
    min-height: 196px;
  }

  .tiles-out {
    height: 196px;
  }

  /* show more moves on wider layout because we have the real estate to do so */
  .moves__container {
    height: 150px;
  }
}

@media only screen and (min-width: 1012px) {
  .grouping__figure .player__tile > img {
    width: 40px;
    height: 60px;
  }
}